@font-face {
    font-family: f_cate;
    src: url(../src/font/NiDAPreahvihear.ttf);
}
@font-face {
    font-family: f_logo;
    src: url(../src/font/NiDAAngkor.ttf);
}
<<<<<<< HEAD

@font-face {
    font-family: f_english;
    /*src: url(../src/font/arial.ttf);*/
}
=======
>>>>>>> 2d9a6e9d30ef243d96507505df30e6b5ebd8305a
