<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css/bootstrap-min.css">-->
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/font.css">
</head>
<body>
    <div class="container-fluid" id="footer">
        <footer class="footer">
            <div class=" footer container-fluid">
                <div class="foot-background"></div>
                <div class="foot-black"></div>
                <div class="row1">
                    <i class="foot-logo"><img src="../src/icon/footer/logo_white.svg" alt="Logo" width="42px" height="42px"></i>
                    <i class="foot-text1"><a href="#">អំពីសត្វព្រៃ</a></i>
                    <i class="foot-text1"><a href="../view/contact.html">ទំនាក់ទំនង</a></i>
                </div>
                <div class="row2">
                    <div class="foot-line"></div>
                </div>
                <div class="row3">
                    <i class="foot-icon1"><div class="wave"></div><img src="../src/icon/footer/ic_f.svg" alt="Facebook" width="28px" height="28px"></i>
                    <i class="foot-icon1"><div class="wave"></div><img src="../src/icon/footer/ic_gg.svg" alt="Google+" width="28px" height="28px"></i>
                </div>
                <div class="row4">
                    <i class="foot-icon2"><img src="../src/icon/footer/ic_copy_right.svg" alt="Copy & Right" width="20px" height="20px"></i>
                    <i class="foot-text2"><a>2017. All rights reserved</a></i>
                </div>
                <!--<div class="foot-background"><img class="foot-background" src="../src/background/footer-image.jpg" alt=""></div>-->

            </div>
        </footer>
    </div>
</body>
</html>