<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/pre_detail.css">
    <link rel="stylesheet" href="../css/font.css">
</head>

<body>
    <div class="container-fluid" id="pre_detail">
        <div class="background-black"></div>
        <div class="container">
            <div class="row profile">
                <div class="col-md-12"></div>
                <div class="circle-img img-responsive"></div>
            </div>
            <div class="row detail">
                <div class="col-md-4 col-md-12 type">
                    <!--mask1-->
                    <div class="img_preview_dark">
                        <div class="mask"></div>
                        <!--detail1-->
                        <div class="container detail">
                            <div class="row">
                                <!--title1-->
                                <div class="col-md-12 title-base">
                                    <div class="icon"><img src="../src/icon/preview/ic_type.svg"
                                                           alt="" width="36px" height="36px"></div>
                                    <div class="title"><i​>ប្រភេទ</i></div>
                                </div>
                                <!--line11-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--science name-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ឈ្មោះវិទ្យាសាស្រ្ត</i></div>
                                    <div class="description">
                                        <i style="font-family: Arial">Ursus Arctos</i>
                                    </div>
                                </div>

                                <!--line12-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--class-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ថ្នាក់</i></div>
                                    <div class="description"><i>ថនិកសត្វ</i></div>
                                </div>

                                <!--line13-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--&lt;!&ndash;group&ndash;&gt;-->
                                <!--<div class="col-md-12 description-base">-->
                                    <!--<div class="label"><i>ជម្រក</i></div>-->
                                    <!--<div class="description"><i>តំបន់ភ្នុំ</i></div>-->
                                <!--</div>-->
                                <!--group-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ក្រុម</i></div>
                                    <div class="description"><i>មង្សារសី</i></div>
                                </div>

                                <!--line14-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--background-->
                    <img src="../src/mammals/bear/preview/img_bear_preview1.png" class="img-review" alt="bear1">
                </div>
                <div class="col-md-4 col-md-12 appearance">
                    <!--mask2-->
                    <div class="img_preview_dark">
                        <div class="mask"></div>
                        <!--detail2-->
                        <div class="container detail">
                            <div class="row">
                                <!--title2-->
                                <div class="col-md-12 title-base">
                                    <div class="icon"><img src="../src/icon/preview/ic_app.svg"
                                                           alt="" width="36px" height="36px"></div>
                                    <div class="title"><i​>លក្ខណះទូទៅ</i></div>
                                </div>

                                <!--line21-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--size-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ទំហំ</i></div>
                                    <div class="description">
                                        <i style="font-family: Arial">1.50m</i>
                                        <i>ទៅ</i>
                                        <i style="font-family: Arial">2.50m</i>
                                    </div>
                                </div>

                                <!--line22-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--weight-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ទម្ងន់</i></div>
                                    <div class="description">
                                        <i style="font-family: Arial">318kg</i>
                                    </div>
                                </div>

                                <!--line23-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--age-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>អាយុ</i></div>
                                    <div class="description">
                                        <i style="font-family: Arial">15</i>
                                        <i>ទៅ</i>
                                        <i style="font-family: Arial">20</i>
                                        <i>ឆ្នាំ</i>
                                    </div>
                                </div>

                                <!--line24-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="../src/mammals/bear/preview/img_bear_preview2.png" class="img-review" alt="bear1">

                </div>
                <div class="col-md-4 col-md-12 evolution">
                    <!--mask3-->
                    <div class="img_preview_dark">
                        <div class="mask"></div>
                        <!--detail3-->
                        <div class="container detail">
                            <div class="row">
                                <!--tile3-->
                                <div class="col-md-12 title-base">
                                    <div class="icon"><img src="../src/icon/preview/ic_dna.svg"
                                                           alt="" width="36px" height="36px"></div>
                                    <div class="title"><i​>ការវិវត្ត</i></div>
                                </div>

                                <!--line31-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--science name-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ប្រភពកំ​ណេីត</i></div>
                                    <div class="description"><i>ទ្វីបអាស៊ី</i></div>
                                </div>

                                <!--line32-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--origin master-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>បុព្វបុរស</i></div>
                                    <div class="description"><i style="font-family: Arial">Ursus Etruscus</i></div>
                                </div>

                                <!--line33-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>
                                <!--born-->
                                <div class="col-md-12 description-base">
                                    <div class="label"><i>ចាប់កំណើត</i></div>
                                    <div class="description"><i style="font-family: Arial">800,000</i><i>ឆ្នាំមុន</i></div>
                                </div>

                                <!--line34-->
                                <div class="col-md-12 line-base">
                                    <div class="line"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <img src="../src/mammals/bear/preview/img_bear_preview3.png" class="img-review" alt="bear1">
                </div>
            </div>
        </div>

        <div class="background-img">
            <img src="../src/background/background.png" alt="" width="100%" height="100%">
        </div>

    </div>
</body>

</html>